*.iml
*.idea
.settings
.classpath
.project
.DS_Store
.tmp
.sass-cache
.DS_Store*.prefs
*.class
*.jsdtscope
*.launch
~$*
node_modules
bower_components
dist
build
/target
/log
/logs
/src/test/mock/output
/src/main/webapp/styles/css/**/*.css
*.log
